.resaltador{
    background-color: darkcyan;
    color: rgb(163, 199, 217);
}

.listaPersona{
    background-color: coral;
    color: #ffff;
}

.mayoresDeEdad{
    background-color: crimson;
    color: cornsilk;
}